.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffff;
    border-bottom: 1px solid #e9ecef;
}

.header-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.header-container ul li {
    font-size: 1.5rem;
    font-weight: 500;
}

.header-container ul a {
    text-decoration: none;
    color: #000;
}

.header-container ul img {
    height: 100px;
}